.trusted-btb h2,
.what-wyl h2 {
  color: #1B3764;
  text-transform: capitalize;
  font-size: 42px;
  position: relative;
}

.trusted-btb h2::before,
.what-wyl h2::before {
  content: "";
  height: 3px;
  width: 50px;
  background: #FFCA42;
  position: absolute;
  bottom: 25%;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

.trusted-btb  .text h3 {
  color: #1B3764;
  font-size: 24px;
}

.trusted-btb  .text h3 + p {
  color: #969AA0;
}

.get-bct {
  background: #1B3764;
}

.get-bct .row {
  gap: 50px;
}

.get-bct .text {
  color: white;
}

.get-bct .text h2 {
  font-size: 42px;
  text-transform: capitalize;
  position: relative;
}

.get-bct .text h2::before {
  content: "";
  height: 3px;
  width: 50px;
  background: #FFCA42;
  position: absolute;
  bottom: -20px;
  left: 5px;
}

.get-bct .text p {
  color: #B4C7E7;
  font-size: 19px;
}

.get-bct .text a {
  color: white;
  padding: 15px 50px;
  font-weight: 600;
}

.get-bct .text a:hover {
  color: #1B3764;
}

.get-bct .image img {
  max-width: 100%;;
}

.what-wyl .what-wyl-elements {
  gap: 70px;
}



.what-wyl .what-wyl-elements .text {
  color: #1B3764;
}

.what-wyl .what-wyl-elements .text .box {
  counter-increment: num 1;
  position: relative;
  padding-top: 60px;
  padding-bottom: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  background: #F4F8FF;
}

.what-wyl .what-wyl-elements .text .box::before {
  content: "0" counter(num);
  background: #FFCA42;
  color: #1B3764;
  padding: 10px;
  height: 40px;
  position: absolute;
  left: 10px;
  top: 10px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.what-wyl .what-wyl-elements .text .box p {
  color: #1B3764;
  font-size: 24px;
}

.what-wyl .what-wyl-elements .image-what-wyl {
  position: relative;
}



.what-wyl .what-wyl-elements .image-what-wyl .image {
  position: relative;
}

.what-wyl .what-wyl-elements .image-what-wyl .image::before {
  content: "";
  width: 97%;
  height: 97%;
  position: absolute;
  border: 10px solid #FFCA42;
  z-index: 1;
}

.what-wyl .what-wyl-elements .image-what-wyl img {
  max-width: 100%;
  position: relative;
  top: -30px;
  right: 30px;
  z-index: 10;
}

@media  (max-width: 767px) {
  .trusted-btb h2,
  .get-bct .text h2,
  .what-wyl h2 {
    font-size: 32px;
  }

  .trusted-btb h2::before,
  .get-bct .text h2::before,
  .what-wyl h2::before  {
    width: 30px;
  }

  .what-wyl .what-wyl-elements .image-what-wyl .image::before {
    left: 7px;
    top: 7px;
  }

  .what-wyl .what-wyl-elements .image-what-wyl img {
    top: 0;
    left: 0;
  }
}

@media (min-width: 768px) {
  .what-wyl .what-wyl-elements .image-what-wyl .image::before {
    width: 80%;
    left: 7px;
    top: 7px;
  }

  .what-wyl .what-wyl-elements .image-what-wyl img {
    top: 0;
    left: 0;
  }
}

@media (min-width: 992px) {
  .trusted-btb h2,
  .get-bct .text h2,
  .what-wyl h2 {
    font-size: 36px;
  }

  .trusted-btb h2::before,
  .get-bct .text h2::before,
  .what-wyl h2::before  {
    width: 40px;
  }

  .get-bct .text p {
    font-size: 18px;
  }

  .what-wyl .what-wyl-elements .image-what-wyl .image::before {
    width: 59.5%;
    left: 9px;
    top: 8px;
  }
  .what-wyl .what-wyl-elements .image-what-wyl img {
    top: 0;
    left: 0;
  }
}

@media (min-width: 1200px) {
  .trusted-btb h2,
  .get-bct .text h2,
  .what-wyl h2 {
    font-size: 42px;
  }

  .trusted-btb h2::before,
  .get-bct .text h2::before,
  .what-wyl h2::before  {
    width: 50px;
  }

  .what-wyl .what-wyl-elements .image-what-wyl .image::before {
    content: "";
    width: 97%;
    height: 95%;
    left: 30px;
    position: absolute;
    border: 10px solid #FFCA42;
    z-index: 1;
  }
  
  .what-wyl .what-wyl-elements .image-what-wyl img {
    max-width: 100%;
    position: relative;
    top: -30px;
    right: 30px;
    z-index: 10;
  }
}

.som{
  background-color: rgb(27, 55, 100);
}
.bg-light{
  background-color:rgb(27, 55, 100) !important;
  
}
.card-header{
  border: 0px;
  margin-left: 200px;
  margin-right: 200px;
}
.order{
  border-radius: 0px;
  background-color: #FFCA42;
  
font-family: cardo;
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 28px;
width: 100px;
height: 40px;
}
.navbar svg{
 margin: 10px;
}
.navbar a{
  color: #fff !important;
}
.btn1:hover {
color: #FFCA42 !important;
}
.n2{
  margin-left: 500px;
}
.btn1{
  margin-right: 20px;
}
.card-img svg{
margin-left: 570px;
margin-top: 50px;
}
.card{
  background-color: rgb(27, 55, 100);
  border: 0px;
  display: flex;
  position: absolute;
 margin: 140px;
}
.card .line{
 color: #FFCA42;
  position: absolute;
}
.card h6{
  margin-left: 45px;
  color: #fff;
  
font-family: 'Cardo';
font-style: italic;
font-weight: 400;
font-size: 24px;
line-height: 36px;
}
.card h1{
  
font-family: 'Cardo';
font-style: normal;
font-weight: 400;
font-size: 55px;
line-height: 78px;
color: #fff;
line-height: 55px;
}
.card p{
  color: #B4C7E7;
}
.card a{
  margin-left: 45px;
  color: #fff;
  font-family: 'Cardo';
font-style: normal;
font-weight: 200;
}
#circle{
  width: 10px;
  height: 10px;
background-color: #FFCA42;
border-radius: 100px;
margin: 8px;
}
.counter h6{
  margin-left: 3px;
font-family: 'Cardo';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 24px;
}
.counter .pa{
  margin-top: 25px;
display: flex;
}
.counter p{
  margin-left: 25px;
  align-items: center;
  font-size: small;
  margin-top:-5px;
}
.counter{
  margin-right: 25px;
}
.points{
  display: flex;
}

.face button{
border: 0px;
height: 20px;
width: 20px;
}
.face img{
  height: 20px;
  width: 20px
}
.face{
  margin-right: 9px;
}
.social{
  display: flex;
}
.card-header .pa{
  font-weight: 600;
  font-size: 20px;
}
@font-face{
  font-family:cardo ;
  src:url('/fonts/Cardo-Italic.ttf');
=======




/* **************************************************************************** */
/* **************************************************************************** */
/* **************************************************************************** */
/* **************************************************************************** */

.section2 {
    background-color: #F4F8FF;
    margin: 0;
    padding: 4rem;
    max-width: 100%;
}
.section2 .card-All{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.section2 h2{
  font-family: Cardo;
  font-weight: 600;
    font-size: 2rem;
}
.section2 .card1 {
    display: inline-block;
    text-align: start;
    width: 47%;
    background-color: white;
    margin: 2rem 1rem 1rem 0;
    padding: 3rem;
}
.section2 .card1 h3{
  font-family: Cardo;
    color: #1B3764;
    font-size: 1.3rem;
    font-weight: 700;
}
.section2 .card1 h4{
    color: #1B3764;
    font-size: 1.2rem;
    font-weight: 700;
    margin: 0 4rem 0 0rem;
    font-family: Cardo;

}
.section2 .card1 h4 p{
  font-size: 1rem;
  font-weight: 500;
}
.section2 .card1 h4 span{
    color: #FFCA42;
    font-size: 1.4rem;

}
.section2 .card1 h4 p{
  display: inline-block;
}
.section2 .card1 p{
  font-size: 1rem;
  opacity: .6;
}
.section2 .card1 .card-text{
  display: flex;
}
.section2 button{
  font-weight: 600;
  color: #1B3764;
  border-radius: 0;
  padding: 0.9rem 3rem;
  font-size: .9rem;
  margin: 2rem 0;
  font-family: Cardo;
}

.section2 .card2 p{
  font-size: .85rem;
  opacity: .6;
}
.section2 .card2 p a{
  text-decoration: none;
  opacity: 1 !important;
  color: #005dfd;;
}




.section3 h2{
  font-family: Cardo;
  font-weight: 600;
    font-size: 2rem;
    display: inline-block;
}
.section3 .L1{
  display: inline-block; 
  width: 30%;
  margin: 10rem 0 0 0;

}
.section3 .L1 p{
  opacity: .6;
}
.section3 .L1 .circl h3 , h5{
  display: inline-block;
  color: #FFCA42;
}
.section3 .L1 .circl h3{
  font-size: 2.2rem;
}
.section3 .L1 .circl h5{
  font-size: 1.5rem;
}
.section3 .L1 .circl p{
  opacity: 1;
  font-family: Cardo;
  color: #1B3764;
  display: inline-block;
  font-size: 1.3rem;
  margin: 0 0 0 1rem;
  font-weight: 600;
}
.section3 .L1 h3{
  font-weight: 500;
  font-size: 1rem;
}

.section3  {
  display: flex;
  justify-content: space-around;
}
.section3 .L2 {
  background-color: #1B3764;
  display: inline-block;
  padding: 2rem 2rem;
  width: 22rem;
  margin: 1rem;
}
.section3 .L2 .x1 .x2 .x3 .a1  {
  margin: 0 0 0 1rem;
}
.section3 .L2 .x1 .x2 .x3 .a1 .circl h3 {
  color:  #FFCA42;
  font-size: 1.5rem;
  display: inline-block;
}
.section3 .L2 .x1 .x2 .x3 .a1 .circl h5 {
  color:  #FFCA42;
  font-size: 1rem;
  display: inline-block;
}
.section3 .L2 .x1 .x2 .x3 .a1 h3 {
  font-family: Cardo;
  font-size: 1.3rem;
  color: white;
}
.section3 .L2 .x1 .x2 .x3  {
  display: flex;
}
.section3 .L2 .x1 .x2 h3  {
  color: white;
  font-family: Cardo;
  font-size: 1.5rem;
  text-align: center;
  margin: 1rem 0 0 0;
}
.section3 .L2 .x1 .x2 p  {
    color: white;
    font-size: 1rem;
    opacity: .7;
}
.section3 .L2-All{
  display: block;
  background-color: white;
}
.section3 .L2-All .L02{
  display: flex;
}
.section3 .L2-All .L02 .L2{
  display: block
}
.section3 .L2-All .L02 .L2:nth-child(2){
  position: relative;
  top: 10rem;
}



@media  (max-width: 767px) {
  .section2 h2 {
    font-size: 1.5rem;
}
  .section3 h2 {
    font-size: 1.5rem;
}
  .section2 .card1 {
    width: 100%;
    margin-right: 0;
  }
  .section2 .card1 .card-text {
    display: block;
  }
  .section2 button {
    padding: 0.5rem 2rem;
    font-size: .8rem;
  }
  .section2 .card1 h3 {
    font-size: 1.1rem;
  }
  .section2 .card1 p {
    font-size: .8rem;
}
.section2 .card1 h4 {
  font-size: 1rem;
}
.section2 .card1 h4 p {
  font-size: .8rem;
}
.section3 {
  display: block;
  margin-top: 0 !important;
  padding: 0 2rem;
}
.section3 .L1 {
  width: 100%;
  text-align: center;
  margin: 3rem 0 0 0;
}

.section3 .L2-All .L02 {
  display: block;
}
.section3 .L2-All .L02 .L2:nth-child(2) {
  position: sticky;
}
.section3 .L2-All .L02 .L2 {
  margin: 2rem auto;
}
.section3 .L2 {
  margin: 2rem auto;
  display: block;
}
.section3 .L2 .x1 .x2 h3 {
  font-size: 1rem;
}
.section3 .L2 {
  padding: 1rem 1rem;
  width: 100%;
}
.section3 .L2-All .L02 .L2 {
  width: 100%;
  padding: 1rem 1rem;
}
.section3 .L2 .x1 .x2 p {
  font-size: .8rem;
  margin: 1rem 0;
}
.section3 .L2 .x1 .x2 .x3 .a1 h3 {
  font-size: 1.1rem;
}
.section3 .L1 p {
  font-size: .8rem;
}
.section3 .L1 .circl p {
  font-size: 1.1rem;
}
.section3 .L1 .circl h3 {
  font-size: 1.5rem;
}
.section3 .L1 .circl h5 {
  font-size: 1rem;
}
.section3 .L1 h3 {
  font-size: .8rem;
}

}